.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: 40% 50% 50px / 100px 50% 200px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* The grid-tmeplate property replaces the grid-template-coluns and grid-template-rows. Values before the slash determine rows, values after the slash determine columns. */
