.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template: repeat(3, 1fr) / 3fr 50% 1fr;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/* Rows and Columns of the same deminsion can be defined with the repeat function which accepts paramaters for number of time to repeat and deminsion of sections. Multipal deminsion values will result in a rows or columns equal to the product of number of deminsion values and the repeat value. */
